[Unit]
Description=TripPlanner Telegram Bot Daemon
After=network.target mongod.service

[Service]
Type=simple
User=tripplanner
Group=tripplanner
WorkingDirectory=/var/lib/tripplanner

EnvironmentFile=/etc/tripplanner/env
ExecStart=/usr/bin/java -jar /usr/local/lib/tripplanner/app.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
